body {
  text-align: center;
  font-family: 'Graduate', cursive;
  font-size: 36px;
  color: #fff;
  background-image: url("../assets/images/background.jpg");
}

figure {
  width: 459px;
  height: 636px;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 4px;
  background: #000;
}

.view-h2 {
  margin-top: 56%;
}

.start-button > input, .reset-button > input {
  font-size: 16px;
}

.start-button > input:hover, .reset-button > input:hover {
  cursor: pointer;
  opacity: .80;
}

li {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  float: left;
  background-color: #000;
}

h1 {
  margin: 20px 0px;
}

p {
  font-size: 16px;
  padding: 4px 0;
}

.white-alien-ship-part {
  background-color: white;
}

.yellow-alien-ship-part {
  background-color: yellow;
}

.green-alien-ship-part {
  background-color: green;
}

.blue-alien-ship-part {
  background-color: blue;
}

.purple-alien-ship-part {
  background-color: purple;
}

.shield-part {
  background-color: orange;
}

.player-ship-part {
  background-color: grey;
}

.missile {
  background-color: red;
}
